@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Cantata+One&family=Great+Vibes&display=swap');
/* overall timeline styling */
body {
    background-color: #e5ab75; /* Replace with your desired color */
}
.timeline{
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 1200px;
	position: relative;
}
/* title styling */
.timeline__content-title{
	font-weight: normal;
	font-size: 66px;
	margin: -10px 0 0 0;
	transition: .4s;
	padding: 0 10px;
	box-sizing: border-box;
    font-family: "Cantata One", serif;
	color: #fff;
} 

/* line styling */
.timeline__content-desc{
	margin: 0;
	font-size: 15px;
	box-sizing: border-box;
	color: rgba(255, 255, 255, 0.7);
	font-family: "Arima", system-ui;
	font-weight: normal;
	line-height: 25px;
    width: 550px
}

/* invisible line */
.timeline::before{
	position: absolute;
	left: 50%;
	width: 2px;
	height: 100%;
	margin-left: -1px;
	content: "";
	background: rgba(255, 255, 255, 0.07);
}

.timeline-item{
	padding: 40px 0;
	/* opacity: .3;
	filter: blur(0px); */
	transition: .5s;
	box-sizing: border-box;
	width: calc(50% - 80px);
	display: flex;
	position: relative;
	transform: translateY(-80px);
}
/** even children go to right **/
.timeline-item:nth-child(even){
	align-self: flex-end;
}

.timeline-item--active{
	opacity: 1;
	transform: translateY(0);
	filter: blur(0px);
	&::before{
		top: 50%;
		transition: .3s all .2s;
		opacity: 1;
	}
}

.timeline__img{
	max-width: 100%;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.timeline-container{
	width: 100%;
	position: relative;
	padding: 80px 0;
	transition: .3s ease 0s;
	background-attachment: fixed;
	background-size: cover;
    
	&::before{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(1, 1, 1, 0.8);
	}
}
.timeline-header{
	width: 100%;
	text-align: center;
	margin-bottom: 80px;
	position: relative;
    background-color: #834c12;
    text-align: center;
    padding: 20px; 
    margin: 20px 0; 
    border-radius: 5px; 
}
.timeline-header__title{
	color: #fff;
	font-size: 100px;
	font-family: "Cantata One", serif;
	font-weight: normal;
	margin: 0;
}
.timeline-header__subtitle{
	color: rgba(255, 255, 255, 0.5);
	font-family: "Great Vibes", cursive;
	font-size: 58px;
	letter-spacing: 5px;
	margin: 10px 0 0 0;
	font-weight: normal;
}