.sidebar-container{
    width: 370px;
    background-color: #ffff;
    height: 120vh;
    padding: 80px 30px; /* top = 75, l and r = 30*/
    transition: all 1s;
    z-index: 12;
    left: 0;
    top: 0;
    position: absolute;
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 100vh;
    border-color: #7EC8D7;
    border-width: 5px;
    border-style: solid;
    overscroll-behavior: none;
    box-sizing: border-box;
}

.text-overlay {
    text-align: center; /* Removed quotes */
    margin-bottom: 10px;
    width: 90%;
    font-family: "Cantata One", serif;
    font-size: 12px; /* Decreased font size to 12px */
    line-height: 1.6;
}

