.sidebar-container{
    width: 270px;
    background-color: #ffff;
    height: 155vh;
    padding: 0 30px; /* top = 0, l and r = 30*/
    transition: all 1s;
    z-index: 12;
    left: 0;
    top: 0;
    position: absolute;
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 100vh;
}

.text-overlay {
    text-align: center; /* Removed quotes */
    margin-bottom: 10px;
    width: 90%;
    font-family: "Cantata One", serif;
    font-size: 12px; /* Decreased font size to 12px */
    line-height: 1.6;
}
