.sim-button {
    /* background-color: #0091ff68; */
    background-color: 'white';
    color: rgba(255, 255, 255, 0.658);
    position: fixed;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    z-index: 25;
    width: 150px;
    height: 150px;
    /* bottom: 0; */
    margin-top: 455px;
    margin-left: 550px;
    border-radius: 20%;
    border-width: 20px;
    border: 2px solid #f3f6f6;
    flex-direction: column;
  }

  .sim-button:hover {
    background-color: rgb(228, 223, 223);
  }

  /* .sim-button:hover .button-text {
    color: #f2f6f6; 
  } */

  .sim-button:hover .sim-button.pause::before {
    border-color: white; 
  }  

  .sim-button:hover .sim-button.play::before {
    border-color: transparent transparent transparent white;
  }

  .sim-button.pause::before { /* specifically for the shape of play or pause */
    content: ''; 
    border-color: white;
    width: 20px;
    height: 23px;
    border-style: double;
    margin-left: 40px;
    margin-top: 10px;
    padding-bottom: 5px;
    border-width: 0px 0px 0px 23px;
    border-color: #7EC8D7;
    display: block; 
    padding-inline: 50px;
  }
  
  .sim-button.play::before {
    content: ''; 
    width: 20px;
    height: 23px;
    border-color: rgba(7, 7, 7, 0.258);
    border-style: solid;
    box-sizing: border-box;
    border-width: 12px 7px 12px 28px;
    border-color: transparent transparent transparent #7EC8D7;
    margin-left: 40px;
    margin-top: 10px;
    padding-inline: 50px;
    display: block; 
    padding-bottom: 5px;
  }

  .sim-button .button-text {
    margin-top: 20px; 
    font-size: 14px; 
    color: #131414;
    font-family: "Cantata One", serif;
  }
